/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
// @include mat-core();

@import 'styles/googlefonts';
@import 'styles/variables';

$custom-typography: mat-typography-config(
  $font-family: $font-family-sans-serif,
  $headline: mat-typography-level(32px, 48px, 700)
);

@include angular-material-typography($custom-typography);


body, html {
  margin: 0;
  padding: 0;
}